<!doctype html>
<html ng-app="seeds">
<meta charset="utf-8">

<!-- metadata -->
<title>ReCo Seeds</title>

<!-- styles -->
<link rel="stylesheet" href="lib/bootswatch/bootstrap-cyborg.css">
<link rel="stylesheet" href="seeds.css">

<!-- scripts -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="http://git.macropus.org/jquery-ajax-queue/jquery.ajaxQueue.js"></script>
<script src="http://git.macropus.org/jquery-spotify/jquery.spotify.js"></script>
<script src="lib/angular-scrollglue/scrollglue.js"></script>
<script src="seeds.js"></script>

<body ng-controller="SeedsController">
	<nav>
		<ul id="genres" class="nav nav-tabs">
			<li ng-class="{ active: !activeGenre }"><a>All</a></li>
			<li ng-repeat="genre in genres"
				ng-class="{ active: activeGenre === genre.key }">
				<a href="#" ng-click="showGenre(genre.key)">{{ genre.title }}</a>
			</li>
		</ul>
	</nav>

	<div id="main">
		<div id="seeds">
			<ul class="list-unstyled">
				<li ng-repeat="show in shows | orderBy:title"
					ng-click="showTracks(show)">{{ show.title }}</li>
			</ul>

			<div ng-show="!shows">Loading…</div>
		</div>

		<div id="tracks" ng-show="episode">
			<h1>
				<a ng-show="reco" href="http://git.macropus.org/reco/?{{ reco }}" class="btn btn-primary" target="_blank">ReCo</a>
				<a href="http://www.bbc.co.uk/programmes/{{ brand.pid }}" target="_blank">{{ brand.title }}</a>
			</h1>

			<h2>
				<a href="http://www.bbc.co.uk/programmes/{{ episode.pid }}" target="_blank">{{ episode.title }}</a>
			</h2>

			<ul class="list-unstyled" ng-show="tracks.length">
				<li ng-repeat="track in tracks"
					itemscope itemtype="http://schema.org/MusicRecording">
					<div>
						<a ng-href="http://git.macropus.org/reco/?artist={{ track.artist.name | encodeURIComponent }}"
							target="_blank" itemprop="byArtist"
							itemscope itemtype="http://schema.org/MusicArtist"><span itemprop="name">{{ track.artist.name }}</span></a>
							-
						<span itemprop="name">{{ track.name }}</span>
					</div>

					<div>
						<span class="tag" itemprop="keywords" ng-repeat="tag in track.tags | limitTo:5">{{ tag.name }}</span>
					</div>
				</li>
			</ul>

			<div class="alert alert-error" ng-show="!loading &amp;&amp; !tracks.length">Track listing not available for this episode</div>

			<div ng-show="loading">Loading…</div>
		</div>

		<div id="player" ng-show="player">
			<iframe ng-src="{{player}}"></iframe>
		</div>

		<div id="spotify" ng-show="spotify &amp;&amp; spotify.length" scroll-glue>
			<div ng-repeat="message in spotify">{{ message }}</div>
		</div>
	</div>
</body>
</html>