html, body {
	height: 100%;
	width: 100%;
	overflow-y: hidden;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
}

#main {
	display: flex;
	flex-direction: row;
	flex: 1;
}

#main > div {
	padding: 10px 20px;
	overflow-y: auto;
	min-width: 200px;
}

#main #player {
	padding: 0;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

#main #player iframe {
	border: none;
	width: 380px;
	flex: 1;
}

#main #spotify {
	width: 380px;
	font-size: 80%;
}

#tracks {
	flex: 1;
}

h1 {
	margin-top: 0;
}

h2 {
	font-size: 20px;
}

#seeds li {
	cursor: pointer;
}

#seeds li:hover {
	color: yellow;
}

.nav-tabs > li > a {
	font-size: 12px;
	padding: 5px;
}

.tag {
	color: gray;
	display: inline-block;
	margin-left: 10px;
}
